@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    /* colors */
    --green: #378C3F;
    --blue: #5858FF;
    --red: red;
    --black: #323232;

    /* Polices */
    --roboto: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    color: var(--black);
}

.card-body.cc-experience-header {
    padding-top: 50px;
}

hr {
    border-top: 3px solid var(--green);
}

#formations {
    border-top: 3px solid var(--green);
}

#certif {
    font-family: var(--roboto);
    font-weight:500;
}

#certif > span {
    color: rgb(224, 83, 18);
    font-weight: 500;
    text-decoration: gray underline;
    text-underline-offset: 4px;
}

#bio, #job {
    color: var(--blue);
}

#job {
    text-align: center;
    font-family: var(--roboto) !important;
}

#ligne {
    border-top: 1px solid grey;
}

#ligneCompetence {
    border-top: 3px solid var(--red);
    width: 75%;
}

p, strong, span, a, .card-body>ul, .title {
    font-family: var(--roboto) !important;
}

/* .card-body > p {
    font-size: 16px;
} */

#activity {
    color: var(--red);
    opacity: .7;
    font-weight: 500;
    text-decoration: gray underline;
    text-underline-offset: 4px;
}

li, #activity {
    font-size: 16px;
}

#titleFormation {
    font-family: var(--roboto);
}

#titleFormation>.h5 {
    color: var(--blue);
}

.category {
    color: var(--red);
    opacity: .7;
}

.card-title {
    color: var(--blue);
    font-weight: bold;
}

.technos {
    border: 1px gray solid;
    background-color: gray;
}

.applis {
    border: 1px orange solid;
    background-color: orange;
}

.os {
    border: 1px violet solid;
    background-color: violet;
}

.virtual {
    border: 1px rgb(135, 168, 14) solid;
    background-color: rgb(135, 168, 14);
}

.technos, .applis, .os, .virtual {
    padding: 2px 12px;
    border-radius: 5px;
    color: white;
    font-family: var(--roboto);
    font-weight: 800;
}


#cisco {
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 600;
}

/* Formulaire de contact */
.input-group-addon, .form-control {
    border: 1px solid var(--green);
}

::placeholder {
    color: var(--blue) !important;
    font-weight:700 !important;
}

.input-group-addon>.fa {
    color: var(--green);
}

#toContact {
    color: var(--blue);
}

#laisseMess {
    color: var(--red);
    font-size: 16px !important;
}

.navbar, .btn {
    font-weight: 700 !important;
}

@media screen and (max-width: 900px) {
    #logos>a>img {
        width: 95px;
        height: auto;
        margin-bottom: 5%;
    }

    .cc-experience-header>.h5, #titleFormation>.h5, h5 {
        font-size: 1.25rem !important;
    }

    #os>img, #tools>img {
        width: 25%;
        height: auto;
        margin-bottom: 15px;
    }

    .cc-contact-information .cc-contact {
        padding: 8% 0 8% 0%;
    }

}

@media screen and (max-width: 1000px) {
    #os>img {
        width: 16% !important;
        height: auto;
        margin-bottom: 15px;
    }

    #tools>img {
        width: 14%;
        height: auto;
        margin-bottom: 15px;
    }
}